.keyboard {
    margin: 0 auto;
    width: 1050px;
}
textarea {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 200px;
}

.key-btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    float: left;
}

.new-row {
    display: block;
    width: 100%;
    clear: both;
}

.idBackspace,
.idEnter,
.idShift,
.idTab,
.idCapsLock {
    width: 100px;
}

.idSpace {
    width: 534px;
    text-align: center;
}
